<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Garrett Holbrook\Desktop\Que5t\massey-effect-matthews-mages.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Que5t-Stable</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SqlDBFriendListContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="massey_effect_matthews_mages.Models.SqlDBFriendListContext, massey-effect-matthews-mages" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TempDBFriendContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="massey_effect_matthews_mages.Models.TempDBFriendContext, massey-effect-matthews-mages" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TempDBLogUsers" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="massey_effect_matthews_mages.Models.ApplicationDbContext, massey-effect-matthews-mages" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TempDBContext1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="massey_effect_matthews_mages.Models.TempDBContext1, massey-effect-matthews-mages" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-massey-effect-matthews-mages-20150223041112.mdf;Initial Catalog=aspnet-massey-effect-matthews-mages-20150223041112;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-massey-effect-matthews-mages-20150223041112.mdf;Initial Catalog=aspnet-massey-effect-matthews-mages-20150223041112;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TempDBEntities1" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.14.51;Initial Catalog=dbo;Persist Security Info=True;User ID=sa;Password=P@ssword1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TempDBEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.User.csdl|res://*/Models.User.ssdl|res://*/Models.User.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.14.51;initial catalog=dbo;persist security info=True;user id=sa;password=P@ssword1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TempDBEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="ata source=10.10.14.51;initial catalog=dbo;persist security info=True;user id=sa;password=P@ssword1;MultipleActiveResultSets=True;App=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TempDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.User.csdl|res://*/Models.User.ssdl|res://*/Models.User.msl;provider=System.Data.SqlClient;provider connection string=&quot;ata source=10.10.14.51;initial catalog=dbo;persist security info=True;user id=sa;password=P@ssword1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TempDBContext1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TempDBEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TempDBEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TempDBFriendContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlDBFriendListContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TempDBLogUsers-Web.config Connection String" />
  </ItemGroup>
</Project>