<section id="spinner">
    <section id="innerspinner">
        <a href="\Fren"><div class="lonk" id="deer"></div></a>
        <a href="\Game"><div class="lonk" id="sword"></div></a>
        <a href="\Log"><div class="lonk" id="door"></div></a>
        <a href="\Fren"><div class="lonk" id="mail"></div></a>
        <a><div class="lonk" id="candle"></div></a>
        <a><div class="lonk" id="chest"></div></a>
        <a href="\leds"><div class="lonk" id="scroll"></div></a>
        <a><div class="lonk" id="placebo"></div></a>

    </section>
</section>
