
@{
    ViewBag.Title = "SignedOut";
}

<section id="content">

    <div class="coolio" id="bot">
    </div>

    <section id="out">
        <article> You Have Signed Out Successfuly! </article>
        
        <a href="~/Web/Index">Continue</a>
        
        
    </section>

    <div class="coolio" id="bot">
    </div>
</section>

