@{
    ViewBag.Title = "Home";
    ViewBag.StyleSheet = "mainstyle.css";
}

<section id="content">
    <img id="title" src="~/Content/Images/Logo.png" /> 
    <div class="coolio" id="top">
    </div>

    <a href="\Log"<button id="sign"></button></a>

    <article id="intro"> "Best HTML 5 Canvas RPG ever made!" -IGN </article>


    <section id="slide"></section>


    <div class="coolio" id="bot">
    </div>
</section>