
@{
    ViewBag.Title = "LogIn";
    ViewBag.StyleSheet = "log.css";
}

<section id="content">

    <section id="logform">
        <section class="formy" id="newuser">
            <h1>New User:</h1>
            <h4>E-Mail: </h4>
            <input type="text" />
            <h4>User Name: </h4>
            <input type="text" />
            <h4>Password: </h4>
            <input type="text" />
            <h4>Re-Enter Password: </h4>
            <input type="text" />
            <button class="datbutton">Sign Up</button>
        </section>

        <section class="formy" id="existinguser">
            <h1>Existing User:</h1>
            <h4>User Name: </h4>
            <input type="text" />
            <h4>Password: </h4>
            <input type="text" />
            <button class="datbutton">Sign In</button>
        </section>

    </section>

    <div class="coolio" id="bot">
    </div>
</section>

